.Cats{
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../../img/more-bg.png)no-repeat;
  background-size: 100% 100%;
  margin-top: 95px;
  padding-bottom: 150px;
  min-width: 1133px;

  width: 100%; 
   height: 100%;
    margin-top: 90px;
}

.catsbg{
  margin-top: 48px;
}
.CrookshacksCat{
  width: 1088px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.CatLeft{
  width: 414px;
height: 534px;
background: #F3E7C7;
border: 2px solid #97796F;
opacity: 1;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
padding-top: 60px;
}
.CatLeft_tag{
  padding: 18px 35px 18px 32px;
  background: #8A6358;
  color: #F3E7C7;
  font-size: 21px;
  font-family: 'Futura Bk BT Book'; 
  position: absolute;
  left: -1px;
  top: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.CatRight{
  width: 630px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.CatRight_title{
  color: #532E34;
  font-size: 36px;
  font-family: 'Futura Md BT Bold';
  margin-bottom: 10px;
}
.CatRight_tool{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tool_left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tool_text{
  color: #532E34;
  font-size: 30px;
  font-family: 'SanvitoPro-BoldDisp'; 
  margin-left: 20px;
}
.art{
  color: #9F786D;
  font-size: 30px;
  font-family: 'SanvitoPro-BoldDisp'; 
}
.content{
  width: 100%;
  height: auto;
  color: #532E34;
  font-family: 'Futura Bk BT Book';   
  margin-bottom: 58px;
  font-size: 20px;
  margin-top: 40px;
  font-size: 20px;
}
.CatAmount{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.CatAmount span{
  color: #532E34;
  font-family: 'Futura Md BT Bold'; 
  font-size: 30px;
  font-weight: bold;
  margin-left: 29px;
}
.buy{
  padding: 12px 60px;
  background: #532E34;
  font-size: 28px;
  color: #E2C993;
  border-radius: 16px;
  margin-top: 33px;
  margin-bottom: 43px;
}
.buy:hover{
  cursor: pointer;
}
.info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info_box{
  width: 267px;
height: 86px;
background: #F3E7C7;
border: 2px solid #97796F;
opacity: 1;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 20px;
}
.box_div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: 'Futura Md BT Bold'; 
  width: 100%;
}
.box_div :first-child{
  color: #532E34;
}
.box_div :last-child{
  color: #8A6358;
}
.bidding{
  width: 1088px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 45px;
}
.bidding_left{
  width: 414px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.bidding_title{
  color: #532E34;
  font-size: 30px;
  font-family: 'Futura Md BT Bold'; 
  margin-bottom: 16px;
}
.bidding_box{
  width: 100%;
height: 232px;
background: #F3E7C7;
opacity: 1;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.bidding_box_title{
  width: calc(100% - 60px);
  height: 55px;
  background: #532E34;
  border-radius: 20px 20px 0px 0px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #E2C993;
  font-size: 12px;
  font-family: 'Futura Md BT Bold'; 
}
.tr{
  width: calc(100% - 60px);
  height: 55px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-family: 'Futura Md BT Bold'; 
  color: #532E34;
}
.bidding_right{
  width: 630px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.dialog{
  width: 812px;
  height: 500px;
  background: #F3E7C7;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 1;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.el-dialog__body{
  width: calc(100% - 100px);
}
.dialog_title{
  width: 376.18px;
  height: 17.24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../img/dialog_title_bg.png)no-repeat;
  background-size: cover;
  font-size: 36px;
  color: #532E34;
  font-family: 'SanvitoPro-BoldDisp'; 
  margin-bottom: 26px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.dialog_name{
  width: 452px;
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp'; 
  margin: 20px 0;
}
.dialog_name_input{
  width: 452px;
  height: 52px;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dialog_name_input input{
  width: 90%;
  height: 90%;
  background: #F4EDDB;
  border: none;
  outline: none;
  font-family: 'SanvitoPro-BoldDisp';   
  color: #532E34;
  font-size: 16px;
}
.dialog_name_textarea{
  width: 452px;
  height: 100px;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog_name_textarea textarea{
  width: 90%;
  height: 90%;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
}
.btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}
.btns span:hover{
  cursor: pointer;
}

.confirm{
  width: 449px;
  height: 54px;
  background: #532E34;
  opacity: 1;
  border-radius: 27px;

text-align: center;
line-height: 54px;
color: #E2C993;
font-size: 24px;
   font-family: 'SanvitoPro-BoldDisp';   
}
.dialog_info{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.order_img{
  width: 220px;
  height: 160px;
  border-radius: 15px;
  margin-right: 21px;
}
.order_detail{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.order_title{
  width: 100%;
  height: auto;
  color: #5F4548;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';    
}
.a{
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';  
}
.b{
  color: #C4B6A2;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';  
  margin-bottom: 46px;  
}
.limity{
  color: #C4B6A2;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';  
}
.total{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
.total_text{
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';  
}
.total_num{
  color: #532E34;
  font-size: 30px;
  font-family: 'SanvitoPro-BoldDisp';  
}
.agree{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 46px;
  font-family: 'SanvitoPro-BoldDisp';  
}
.agree:hover{
  cursor: pointer;
}
.agree span{
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';  
  margin-left: 18px;
}