.Me{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 90px;
  min-width: 1133px;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
.Me_top{
  width: 100%;
  height: 222px;
  background: url(../../img/Me-bg.png)no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.top-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.left_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.avator{
  width: 104px;
  height: 109px;
  margin-right: 45px;
  background: url(../../img/avator.png)no-repeat;
  background-size:cover ;
  position: relative;

}
.avator_img{
  position: absolute;
  top:4px ;
  left: 7px;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}
.userName{
  font-size: 36px;
  color: #E2C993;
  font-family: 'SanvitoPro-BoldDisp'; 
}
.wallet{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.wallet img{
  width: 18px;
  height: 13px;
  margin-right: 10px;
}
.wallet  span,.address span{
  font-size: 14px;
  color: #A0CBA3;
  font-family: 'Futura Md BT Medium';  
}
.address img{
  width: 16px;
  height: 22px;
  margin-right: 10px;
}
.edit{
  width: 136px;
  height: 36px;
}
.edit:hover{
  cursor: pointer;
}
.Me_center{
  width: 100%;
  height: auto;
  min-height: 415px;
  background-color: #F3E7C7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nav{
  width: 1133px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav .active{
  background: #1B3B29;
  box-shadow: 0px 3px 6px rgba(74, 61, 29, 0.38);
  opacity: 1;
  border-radius: 0px 0px 20px 20px;
  color: #E2C993;
  font-family: 'SanvitoPro-BoldDisp'; 
}
.nav_item{
  padding: 13px 30px;
  font-size: 24px;
  color: #1B3B29;
 
  font-family: 'SanvitoPro-BoldDisp'; 
}
/* .nav_item_avtive a{
  color: #E2C993;
}
.nav_item:hover{
  cursor: pointer;
} */
/* .nav_item_avtive{
  background: #1B3B29;
  box-shadow: 0px 3px 6px rgba(74, 61, 29, 0.38);
  opacity: 1;
  border-radius: 0px 0px 20px 20px;
  color: #E2C993;
  
} */
.lines{
  width: 2px;
  height: 20px;
  background:  #918064;
  margin:0 20px;
}
.nav_box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.div4{
  width: 100%;
  height: 257px;
  background: url(../../img/catbg.png)no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}
.div_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.text :first-child{
  font-size: 36px;
  color: #8A6358;
  margin-top: 10px;
  font-family: 'Futura Md BT Bold';  
}
.text:last-child{
  font-size: 16px;
  color: #8A6358;
  font-family: "Futura Bk BT Book";
}
.right span{
  font-size: 24px;
  font-family: "Futura Bk BT Book";
  color: #8A6358;
  margin-top: 20px;
}
.dialog{
  width: 524px;
  height: 471px;
  background: #F3E7C7;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 1;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dialog_title{
  width: 376.18px;
  height: 17.24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../img/dialog_title_bg.png)no-repeat;
  background-size: cover;
  font-size: 36px;
  color: #532E34;
  font-family: 'SanvitoPro-BoldDisp'; 
  margin-bottom: 26px;
}
.dialog_name{
  width: 452px;
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp'; 
  margin: 20px 0;
}
.dialog_name_input{
  width: 452px;
  height: 52px;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dialog_name_input input{
  width: 90%;
  height: 90%;
  background: #F4EDDB;
  border: none;
  outline: none;
  font-family: 'SanvitoPro-BoldDisp';   
  color: #532E34;
  font-size: 16px;
}
.dialog_name_textarea{
  width: 452px;
  height: 100px;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog_name_textarea textarea{
  width: 90%;
  height: 90%;
  background: #F4EDDB;
  border: 1px solid #C1B6A4;
  opacity: 1;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 10px;
}
.btns{
  width: 452px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 28px;
}
.btns span:hover{
  cursor: pointer;
}
.cancel1{
  color: #8A6358;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';   
  margin-right: 29px;
}
.confirm1{
  width: 119px;
height: 40px;
background: #8A6358;
opacity: 1;
border-radius: 24px;
text-align: center;
line-height: 40px;
color: #E2C993;
font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp';   
}