.MySales{
  width: 1133px;
  height: auto;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

}
.nodata{
  width: 260px;
  height: 157px;
  background: url(../../img/nodata.png)no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
  color: #69563C;
  font-size: 24px;
  font-family: 'SanvitoPro-BoldDisp'; 
}